.plant-image {
  width: 400px;
  height: 400px;
}

.card-group {
  display: inline-flex;
  flex-direction: row;
  flex-flow: wrap;
  align-content: space-between;
  max-width: 35.25%; 
  margin: 5%;
  .card {
    // height: 1200px;
    margin: 0;
    // max-height: 60%;
    padding: 0;
  }
}

.plant-description {
  text-align: justify;
}

.addPlants-div {
  margin-bottom: 5px;
}