.about-descrip {
  margin: auto;
  padding: 2%;
  width: 98%;
  text-align: justify;
  border: black 1px solid;
  // border-radius: 5px;
}

.butterfly-frame {
  z-index: -1;
  margin-top: -2%;
  margin-left: 45%;
}

.about-bee-header {
  margin: auto;
  margin-top: -40%;
}

.about-bee-descrip {
  margin-top: -35%;
  margin-left: 22%;
  text-align: justify;
}

.about-butter-header {
  margin: auto;
  margin-top: -39%;
}

.about-butter-descrip {
  z-index: -10;
  margin-top: -35%;
  margin-left: 21%;
  text-align: justify;
}

.butterfly-frame-reverse {
  z-index: -2;
  margin-top: -1%;
  margin-right: 35%;
}