.about-container {
  height: 400px;
  width: auto;
  text-align: justify;
  margin: 5%;
}   

.about-descrip {
  width: 1200px;
  margin-top: -6%;
  margin-left: 9%;
}

.about-bee-header {
  margin: auto;
  margin-top: -4%;
}

.butterfly-frame {
  z-index: -1;
  margin-left: 45%;
}

.about-butter-header {
  margin: auto;
  margin-top: -39%;
}

.about-bee-descrip {
  margin-top: -1%;
  margin-left: 23%;
  text-align: justify;
}

.about-butter-descrip {
  z-index: -1;
  margin-top: -35%;
  margin-left: 12%;
  text-align: justify;
}

.yay-button {
  margin: auto;
  margin-top: -8%;
  padding: 4px;
  z-index: -1;
}