.about-container {
  height: 400px;
  width: auto;
  text-align: justify-content;
  margin: 5%;
}   

.about-bee-header {
  margin: left;
  margin-top: -4%;
}

.about-bee-descrip {
  margin-top: -2%;
  margin-left: 3%;
  text-align: justify;
}

.butterfly-frame {
  z-index: -1;
}