.header-div {
  margin-bottom: 5%;
}

.about-descrip {
  text-align: justify;
  border: black 1px solid;
}

.about-butter-container {
  text-align: justify;
  margin-right: 2%;
  margin-bottom: 5%;
}

.about-butter-header {
  margin-right: 3%;
  z-index: 1;
}

.about-bee-container {
  text-align: justify;
  margin-left: 2%;
}

.about-bee-header {
  margin-left: 3%;
}

.black-tail {
  z-index: -1;
}